@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

//*~ Variables Color
$background: #6A5ACD;
$background_container:#87CEFA;
$background_soft: #f1c3e1;
$bread_base:#FFDEAD;
$bread_shadow: #8B4513;
$bread_bit_1: #e0a667;
$egg:#FFC107;
$fire: #800000;
$pan:  #1C1C1C;
$pan_shadow: #363636;
$cable: #bbbdbd;
$mouth: #FA8072;

//*~ Mixins
@mixin bread__eyes ($top, $left, $topB) {
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  z-index: 25;
  background-color: darkblue;
  border-radius: 8rem;
  left: $left;
  top: $top;
  animation: 8s .3s eyesOpen infinite;

  &:after {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $bread_base;
    content: '';
    position: absolute;
    left: 0.8rem;
  }

  &:before {
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: $topB;
    border-radius: 2rem;
    box-shadow: 0px -4px black;
    left: -0.1rem;
  }
}

//*~ Default
.footer {
  bottom: 0;
  color: black;
  top: 35rem;
  font-size: 2rem;

  .title {
    font-family: 'Amatic SC';
  }
  .sub {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    font-family: 'Amatic SC';
    a {
      color: $background_soft;
      text-decoration: none;
      &:hover {
        color: white;
      }
    }
  }
}

body {
  width: 99%;
  height: 36rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 32rem;
  background-color: $background_container;
  border-radius: 32rem;
  overflow: hidden;
  border: 5px solid white;
  height: 32rem;

  transform: scale(.7);
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
}

//*~ Bread
.bread {
  &__base {
    width: 12.4rem;
    height: 13.5rem;
    position: absolute;
    background-color: $bread_base;
    z-index: 10;
    left: 14.3rem;
    top: 8.2rem;
    border-radius: 6rem 6rem 2rem 2rem;
    border: 6px solid black;

    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  
  &__shadow {
    position: absolute;
    width: 13.7rem;
    height: 14.6rem;
    background-color: $bread_shadow;
    z-index: 9;
    left: 14.6rem;
    top: 7.3rem;
    border: 5px solid black;
    border-radius: 7rem 9rem 4rem 10rem;

    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  &__bit {
    &--first {
      position: absolute;
      width: 2.5rem;
      height: 2.6rem;
      background-color: $bread_bit_1;
      z-index: 15;
      top: 6.6rem;
      left: 22.5rem;
      border-radius: 2rem;
      box-shadow: -3px 4px black;

      &:after {
        content: '';
        position: absolute;
        width: 2.4rem;
        height: 2.2rem;
        background-color: $bread_bit_1;
        z-index: 18;
        top: 2.1rem;
        left: 1.1rem;
        border-radius: 2rem;
        box-shadow: -5px 5px black;
      }

      &:before {
        content: '';
        position: absolute;
        width: 1.6rem;
        height: 1.4rem;
        background-color: $bread_bit_1;
        z-index: 18;
        top: 3.9rem;
        left: 2.7rem;
        border-radius: 2rem;
        box-shadow: -3px 4px black;
      }
    }

    &--second {
      position: absolute;
      width: 2.5rem;
      height: 2.6rem;
      background-color: $bread_bit_1;
      z-index: 15;
      top: 10.9rem;
      left: 26.2rem;
      border-radius: 2rem;
      box-shadow: -1px 4px black;
    }

    &--third {
      position: absolute;
      width: 3.2rem;
      height: 2.9rem;
      background-color: $background_container;
      z-index: 15;
      top: 5.6rem;
      left: 22.5rem;
      border-radius: 2rem;
      box-shadow: 1px 5px black;

      &:after {
        content: '';
        position: absolute;
        width: 2.5rem;
        height: 2.6rem;
        background-color: $background_container;
        z-index: 18;
        top: 2rem;
        left: 1.8rem;
        border-radius: 2rem;
        box-shadow: -2px 5px black;
      }

      &:before {
        content: '';
        position: absolute;
        width: 1.6rem;
        height: 1.4rem;
        background-color: $background_container;
        z-index: 18;
        top: 4.2rem;
        left: 3.6rem;
        border-radius: 2rem;
        box-shadow: -3px 4px black;
      }
    }

    &--aux {
      position: absolute;
      width: 3.2rem;
      height: 2.9rem;
      background-color: $background_container;
      z-index: 15;
      top: 10rem;
      left: 26.5rem;
      border-radius: 2rem;
      box-shadow: -2px 6px black;

      &:after {
        content: '';
        width: 9rem;
        height: 3rem;
        background-color: $background_container;
        position: absolute;
        left: -3.8rem;
        top: -2.4rem;

        transform: rotate(49deg);
        -webkit-transform: rotate(49deg);
        -moz-transform: rotate(49deg);
      }
    }
  }

  //*~ Eyes
  &__eyes {
    &--open {
      &:after {
        content: '';
        background-color: $bread_base;
        position: absolute;
        width: 7.9rem;
        height: 0.8rem;
        z-index: 30;
        top: 15.1rem;
      }
  
      &--l {
        @include bread__eyes (16rem, 16.9rem, -1.1rem);
      }
  
      &--r {
        @include bread__eyes (16.2rem, 21.7rem, -1.3rem);
      }
    }

    &--closed {
      &--l {
        opacity: 0;
        position: absolute;
        width: 2rem;
        height: 2rem;
        z-index: 30;
        left: 16.5rem;
        border-radius: 2rem;
        top: 16.7rem;
        box-shadow: -1px -4px black;
        animation: 8s 0.3s eyesClosed infinite;
        -webkit-animation: 8s 0.3s eyesClosed infinite; /* Safari 4+ */
        -moz-animation:    8s 0.3s eyesClosed infinite; /* Fx 5+ */
        -o-animation:      8s 0.3s eyesClosed infinite; /* Opera 12+ */

        &:before {
          content: '';
          width: 1.2rem;
          height: 1.2rem;
          position: absolute;
          top: -1.8rem;
          border-radius: 2rem;
          box-shadow: 0px -4px black;
          left: 0.3rem;
        }
      }

      &--r {
        opacity: 0;
        position: absolute;
        width: 1.7rem;
        height: 2rem;
        z-index: 30;
        left: 21.5rem;
        border-radius: 2rem;
        top: 16.7rem;
        box-shadow: -1px -4px black;
        animation: 8s 0.3s eyesClosed infinite;
        -webkit-animation: 8s 0.3s eyesClosed infinite; /* Safari 4+ */
        -moz-animation:    8s 0.3s eyesClosed infinite; /* Fx 5+ */
        -o-animation:      8s 0.3s eyesClosed infinite; /* Opera 12+ */

        &:before {
          content: '';
          width: 1.2rem;
          height: 1.2rem;
          position: absolute;
          top: -1.8rem;
          border-radius: 2rem;
          box-shadow: 0px -4px black;
          left: 0.1rem;
        }
      }

      &--aux {
        opacity: 0;
        position: absolute;
        width: 9rem;
        height: 1rem;
        z-index: 36;
        background-color: $bread_base;
        left: 16rem;
        top: 17rem;
        animation: 8s 0.3s eyesClosed infinite;
        -webkit-animation: 8s .3s eyesClosed infinite; /* Safari 4+ */
        -moz-animation:    8s .3s eyesClosed infinite; /* Fx 5+ */
        -o-animation:      8s .3s eyesClosed infinite; /* Opera 12+ */
      }

      &--aux2 {
        opacity: 0;
        position: absolute;
        width: 9rem;
        height: 1rem;
        z-index: 36;
        background-color: $bread_base;
        left: 16rem;
        top: 15.1rem;
        animation: 8s 0.5s eyesClosed infinite;
        -webkit-animation: 8s .5s eyesClosed infinite; /* Safari 4+ */
        -moz-animation:    8s .5s eyesClosed infinite; /* Fx 5+ */
        -o-animation:      8s .5s eyesClosed infinite; /* Opera 12+ */
      }
    }
  }

  //*~ Mouth
  &__mouth {
    &--normal {
      opacity: 1;
      animation: 8s .2s mouthClosed infinite;
      -webkit-animation: 8s .2s mouthClosed infinite; /* Safari 4+ */
      -moz-animation:    8s .2s mouthClosed infinite; /* Fx 5+ */
      -o-animation:      8s .2s mouthClosed infinite; /* Opera 12+ */

      position: absolute;
      width: 2.3rem;
      height: 2.3rem;
      z-index: 20;
      top: 16.2rem;
      left: 18.7rem;
      border-radius: 1rem;
      box-shadow: 0px 6px black;

      &:after {
        content: '';
        position: absolute;
        width: 5rem;
        height: 2rem;
        background-color: $bread_base;
        left: -1rem;
      }
    }

    &--open {
      opacity: 0;
      animation: 8s .2s mouthOpen infinite;

      -webkit-animation: 8s .2s mouthOpen infinite; /* Safari 4+ */
      -moz-animation:    8s .2s mouthOpen infinite; /* Fx 5+ */
      -o-animation:      8s .2s mouthOpen infinite; /* Opera 12+ */

      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      background-color: $mouth;
      z-index: 60;
      left: 19.2rem;
      top: 17.9rem;
      border-radius: 1rem 1rem 2rem 2rem;
      box-shadow: inset 4px -2px black;
    }
  }

  &__cheek {
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    background-color: $fire;
    z-index: 40;
    border-radius: 2rem;
    left: 14.9rem;
    top: 17.2rem;
    box-shadow: 140px 6px $fire;
  }

  &__hands {
    &--left {
      position: absolute;
      width: 3rem;
      height: 2rem;
      z-index: 7;
      left: 11.5rem;
      top: 16.5rem;
      border-radius: 1rem 1rem 1rem 0rem;
      box-shadow: 1px 4px #000000;
      animation: 8s .68s hand infinite;

      -webkit-animation: 8s .68s hand infinite; /* Safari 4+ */
      -moz-animation:    8s .68s hand infinite; /* Fx 5+ */
      -o-animation:      8s .68s hand infinite; /* Opera 12+ */

      transform: rotate(-17deg);
      -webkit-transform: rotate(-17deg);
      -moz-transform: rotate(-17deg);
      &:after {
        content: '';
        width: 0.5rem;
        height: 1rem;
        border: 4px solid black;
        z-index: 25;
        position: absolute;
        border-radius: 2rem;
        top: 1rem;
        left: 0rem;
      }
    }

    &--right {
      position: absolute;
      width: 2.5rem;
      height: 1.5rem;
      z-index: 45;
      left: 27.5rem;
      top: 17.3rem;
      border-radius: 2rem 0rem 4rem 1rem;
      box-shadow: 1px 4px #000000;
      animation: 8s .0s hand-right infinite;

      transform: rotate(-112deg);
      -webkit-transform: rotate(-112deg);
      -moz-transform: rotate(-112deg);
      &:after {
        content: '';
        width: 0.5rem;
        height: 0.7rem;
        border: 4px solid black;
        z-index: 25;
        position: absolute;
        border-radius: 2rem;
        top: 0.8rem;
        left: -0.4rem;
      }
    }
  }

  &__leg {
    &--left {
      width: 0.3rem;
      height: 1.1rem;
      background-color: black;
      position: absolute;
      z-index: 50;
      left: 18.5rem;
      top: 22.1rem;
      transform: rotate(19deg);
      -webkit-transform: rotate(19deg);
      -moz-transform: rotate(19deg);

      &:after {
        content: '';
        width: 0.3rem;
        height: 1.2rem;
        background: black;
        position: absolute;
        top: 1rem;
        left: 0.2rem;

        transform: rotate(-26deg);
        -webkit-transform: rotate(-26deg);
        -moz-transform: rotate(-26deg);
      }

      &:before {
        content: '';
        width: 1.1rem;
        height: 0.5rem;
        border: 3px solid black;
        position: absolute;
        border-radius: 2rem;
        top: 1.9rem;
        left: -0.7rem;
        background-color: black;
        animation: 8s .0s leg infinite;

        transform: rotate(-18deg);
        -webkit-transform: rotate(-18deg);
        -moz-transform: rotate(-18deg);
      }
    }

    &--right {
      width: 0.3rem;
      height: 1.1rem;
      background-color: black;
      position: absolute;
      z-index: 50;
      left: 22.5rem;
      top: 22.1rem;

      transform: rotate(2deg);
      -webkit-transform: rotate(2deg);
      -moz-transform: rotate(2deg);

      &:after {
        content: '';
        width: 0.3rem;
        height: 1.2rem;
        background: black;
        position: absolute;
        top: 1rem;
        left: 0rem;

        transform: rotate(-2.9deg);
        -webkit-transform: rotate(-2.9deg);
        -moz-transform: rotate(-2.9deg);
      }

      &:before {
        content: '';
        width: 1.1rem;
        height: 0.5rem;
        border: 3px solid black;
        position: absolute;
        border-radius: 2rem;
        top: 1.9rem;
        left: -1rem;
        background-color: black;

        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
      }
    }
  }
}

//*~ Pan
.pan {
  z-index: 6;
  left: 0.7rem;
  position: absolute;
  top: -0.1rem;
  animation: 8s .68s pan infinite;

  -webkit-animation: 8s .68s pan infinite; /* Safari 4+ */
  -moz-animation:    8s .68s pan infinite; /* Fx 5+ */
  -o-animation:      8s .68s pan infinite; /* Opera 12+ */

  transform: rotate(1.3deg);
  -webkit-transform: rotate(1.3deg);
  -moz-transform: rotate(1.3deg);

  &__cable {
    position: absolute;
    width: 3rem;
    height: 0.3rem;
    z-index: 20;
    background-color: $cable;
    left: 9.3rem;
    top: 18.7rem;
    border: 5px solid black;
    border-radius: 2rem;

    transform: rotate(-29deg);
    -webkit-transform: rotate(-29deg);
    -moz-transform: rotate(-29deg);
  }

  &__base {
    position: absolute;
    width: 5.4rem;
    height: 3.9rem;
    background-color: $pan;
    z-index: 30;
    left: 4.2rem;
    border-radius: 5rem;
    top: 17.4rem;
    border: 10px solid #000000;
    box-shadow: inset 4px 20px $pan_shadow;

    transform: rotate3d(-12, 0.4, 1, 67deg);
    -webkit-transform: rotate3d(-12, 0.4, 1, 67deg);
    -moz-transform: rotate3d(-12, 0.4, 1, 67deg);
  }

  &__base2 {
    position: absolute;
    width: 5.4rem;
    height: 4.3rem;
    background-color: $pan;
    z-index: 20;
    left: 4.1rem;
    border-radius: 0rem 0rem 3rem 4rem;
    top: 18.1rem;
    border: 10px solid #000000;

    transform: rotate3d(-35, 0.4, 1, 71deg);
    -webkit-transform: rotate3d(-35, 0.4, 1, 71deg);
    -moz-transform: rotate3d(-35, 0.4, 1, 71deg);
  }
}

//*~ Stove
.stove {
  position: absolute;
  z-index: 5;

  &__base {
    position: absolute;
    width: 16.2rem;
    height: 4.6rem;
    background-color: $pan;
    z-index: 10;
    left: -16rem;
    border: 10px solid black;
    top: 4.7rem;

    transform: rotate3d(-8.7, 6, 5.6, 84deg);
    -webkit-transform: rotate3d(-8.7, 6, 5.6, 84deg);
    -moz-transform: rotate3d(-8.7, 6, 5.6, 84deg);
  }

  &__base2 {
    position: absolute;
    width: 12.4rem;
    height: 0.7rem;
    background-color: #6c6d6f;
    z-index: 10;
    left: -16.3rem;
    border-bottom: 5px solid black;
    top: 8.3rem;
    border-top: 5px solid black;
    border-left: 5px solid black;

    transform: rotate3d(1, 1, 1, 21deg);
    -webkit-transform: rotate3d(1, 1, 1, 21deg);
    -moz-transform: rotate3d(1, 1, 1, 21deg);
  }

  &__base3 {
    position: absolute;
    width: 12.3rem;
    height: 1.3rem;
    background-color: #6c6d6f;
    z-index: 10;
    left: -16.3rem;
    border-bottom: 5px solid black;
    top: 9.3rem;
    border-top: 5px solid black;
    border-left: 5px solid black;

    transform: rotate3d(1, 1, 1, 21deg);
    -webkit-transform: rotate3d(1, 1, 1, 21deg);
    -moz-transform: rotate3d(1, 1, 1, 21deg);
  }

  &__base4 {
    position: absolute;
    width: 9.1rem;
    height: 2.5rem;
    background-color: #6c6d6f;
    z-index: 10;
    left: -7.1rem;
    border: 6px solid black;
    top: 8.6rem;

    transform: rotate3d(-1, 6.4, 0.6, -66deg);
    -webkit-transform: rotate3d(-1, 6.4, 0.6, -66deg);
    -moz-transform: rotate3d(-1, 6.4, 0.6, -66deg);
  }
}
//*~ Burner
.burner {
  &__base {
    position: absolute;
    width: 4rem;
    height: 4rem;
    z-index: 23;
    left: 4.1rem;
    border: 3px solid black;
    border-radius: 5rem;
    top: 20.6rem;

    transform: rotate3d(-31, -19, -29, 87deg);
    -webkit-transform: rotate3d(-31, -19, -29, 87deg);
    -moz-transform: rotate3d(-31, -19, -29, 87deg);

    &:after {
      content: '';
      position: absolute;
      width: 4rem;
      height: 4rem;
      z-index: 23;
      left: 0rem;
      border: 3px solid black;
      border-radius: 5rem;
      top: 5.1rem;
    }

    &:before {
      content: '';
      width: 4rem;
      height: .2rem;
      background-color: black;
      position: absolute;
      left: 0rem;
      top: 2rem;
      box-shadow: 2px 85px black;
    }
  }

  &__fire {
    &--base {
      position: absolute;
      width: 2.5rem;
      height: 1rem;
      background-color: $fire;
      z-index: 50;
      border-radius: 1rem 1rem 3rem 3rem;
      top: 22.3rem;
      left: 5.2rem;
    }

    &--fire1 {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 15px solid $fire;
      position: absolute;
      z-index: 25;
      left: 5.4rem;
      animation: 2s fire infinite;

      -webkit-animation: 2s fire infinite; /* Safari 4+ */
      -moz-animation:    2s fire infinite; /* Fx 5+ */
      -o-animation:      2s fire infinite; /* Opera 12+ */
    }

    &--fire2 {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 9px solid $fire;
      position: absolute;
      z-index: 25;
      top: 21.8rem;
      left: 6rem;
      animation: 3s fire2 infinite;

      -webkit-animation: 3s fire infinite; /* Safari 4+ */
      -moz-animation:    3s fire infinite; /* Fx 5+ */
      -o-animation:      3s fire infinite; /* Opera 12+ */
    }
  }
}

//*~ Egg
.egg {
  position: absolute;
  background-color: white;
  z-index: 50;
  width: 2.4rem;
  height: 1.7rem;
  left: 6.2rem;
  border-radius: 3rem 3rem 3.2rem 3.2rem;
  top: 19.1rem;
  border: 4px solid black;
  animation: 8s 0.59s eggs infinite;

  -webkit-animation: 8s 0.59s eggs infinite; /* Safari 4+ */
  -moz-animation:    8s 0.59s eggs infinite; /* Fx 5+ */
  -o-animation:      8s 0.59s eggs infinite; /* Opera 12+ */

  transform: rotateX(62deg);
  -webkit-transform: rotateX(62deg);
  -moz-transform: rotateX(62deg);

  &:after {
    position: absolute;
    content: '';
    background-color: $egg;
    width: 1.1rem;
    height: 0.5rem;
    border: 3px solid black;
    border-radius: 2rem 2rem 1rem 1rem;
    left: 0.7rem;
    top: -0.5rem;
  }
}

.hot_fire {
  z-index: 80;

  .fire {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5rem;
    position: absolute;
    left: 5.1rem;
    top: 20rem;

    &:nth-child(1) {
      top: 20rem;
      position: absolute;
      left: 5rem;
      opacity: 0;
      animation: 8s 2s bubble infinite;
      -webkit-animation: 8s 2s bubble infinite; /* Safari 4+ */
      -moz-animation:    8s 2s bubble infinite; /* Fx 5+ */
      -o-animation:      8s 2s bubble infinite; /* Opera 12+ */
    }

    &:nth-child(2) {
      top: 20rem;
      position: absolute;
      left: 9rem;
      opacity: 0;
      animation: 8s 3s bubble infinite;
      -webkit-animation: 8s 3s bubble infinite; /* Safari 4+ */
      -moz-animation:    8s 3s bubble infinite; /* Fx 5+ */
      -o-animation:      8s 3s bubble infinite; /* Opera 12+ */
    }

    &:nth-child(3) {
      top: 17rem;
      position: absolute;
      left: 7rem;
      opacity: 0;
      animation: 8s 1s bubble2 infinite;
      -webkit-animation: 8s 1s bubble infinite; /* Safari 4+ */
      -moz-animation:    8s 1s bubble infinite; /* Fx 5+ */
      -o-animation:      8s 1s bubble infinite; /* Opera 12+ */
    }

    &:nth-child(4) {
      top: 17rem;
      position: absolute;
      left: 7rem;
      opacity: 0;
      animation: 8s 6s bubble infinite;
      -webkit-animation: 8s 6s bubble infinite; /* Safari 4+ */
      -moz-animation:    8s 6s bubble infinite; /* Fx 5+ */
      -o-animation:      8s 6s bubble infinite; /* Opera 12+ */
    }
  }

}

//*~  Animation

//*~ bubble 
@keyframes bubble {
  0% { opacity: 1; left: 6rem; top: 20rem; }
  28% { opacity: 0; left: 4rem; top: 16rem; }
}

@keyframes bubble2 {
  0% { opacity: 1; left: 7rem; top: 20rem; }
  28% { opacity: 0; left: 13rem; top: 17rem; }
}

//*~ Fire
@keyframes fire {
  0% { top: 22rem; }
  20% { top: 22.1rem; }
  30% { top: 21.9rem; }
  50% { top: 22.3rem; }
  100% { top: 22rem; }
}

//*~ Fire 2
@keyframes fire2 {
  0% { top: 21.8rem; }
  20% { top: 22rem; }
  30% { top: 21.8rem; }
  50% { top: 22.1rem; }
  100% { top: 21.8rem; }
}

//*~ Pan
@keyframes pan {
  0% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  3% {
    transform: rotate(15.5deg);
    left: 5.1rem;
    position: absolute;
    top: -3.1rem;
  }
  10% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  15% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  20% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  25% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  30% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  35% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  40% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  45% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  50% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  55% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  60% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  65% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  70% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  75% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  80% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  85% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  100% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
}

//*~ Eggs
@keyframes eggs {
  0% { transform:  rotateX(62deg); top: 19.1rem;}
  10% { transform: rotate(31deg); top: 11.5rem; }
  20% { transform:  rotateX(62deg); top: 19.1rem;}
  25% { transform:  rotateX(62deg); top: 19.3rem; left: 6.8rem;}
  30% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  35% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  45% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  50% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  55% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  60% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  65% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  70% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  75% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  80% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  100% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
}

//*~ Hand
@keyframes hand {
  0% {left: 11.5rem; transform: rotate(-17deg); }
  3% {left: 11.5rem; transform: rotate(-1deg); }
  10% {left: 11.5rem; transform: rotate(-17deg); }
  15% {left: 11.7rem; transform: rotate(-17deg); }
  20% {left: 11.5rem; transform: rotate(-17deg); }
  25% {left: 11.7rem; transform: rotate(-17deg); }
  30% {left: 11.5rem; transform: rotate(-17deg); }
  35% {left: 11.7rem; transform: rotate(-17deg); }
  40% {left: 11.5rem; transform: rotate(-17deg); }
  45% {left: 11.7rem; transform: rotate(-17deg); }
  50% {left: 11.5rem; transform: rotate(-17deg); }
  55% {left: 11.7rem; transform: rotate(-17deg); }
  60% {left: 11.5rem; transform: rotate(-17deg); }
  65% {left: 11.7rem; transform: rotate(-17deg); }
  70% {left: 11.5rem; transform: rotate(-17deg); }
  75% {left: 11.7rem; transform: rotate(-17deg); }
  80% {left: 11.5rem; transform: rotate(-17deg); }
  100% {left: 11.5rem; transform: rotate(-17deg); }
}

//*~ Hand
@keyframes hand-right {
  0% {left: 27.5rem; transform: rotate(-112deg); }
  29% {left: 27.5rem; transform: rotate(-112deg); }
  33% {left: 25.5rem; transform: rotate(27deg); }
  37% {left: 25.5rem; transform: rotate(27deg); }
  38% {left: 25.5rem; transform: rotate(-3deg); }
  45% {left: 25.5rem; transform: rotate(-3deg); }
  50% {left: 25.5rem; transform: rotate(27deg); }
  100% {left: 27.5rem; transform: rotate(-112deg); }
}

//*~ Eyes --open
@keyframes eyesOpen {
  0% { opacity: 1; }
  1% { opacity: 0; }
  5% { opacity: 0; }
  7% { opacity: 1; }
  33% { opacity: 1; }
  34% { opacity: 0; }
  50% { opacity: 0; }
  51% { opacity: 1; }
  100% { opacity: 1; }
}

//*~ Eyes --closed
@keyframes eyesClosed {
  0% { opacity: 0; }
  1% { opacity: 1; }
  5% { opacity: 1; }
  7% { opacity: 0; }
  33% { opacity: 0; }
  34% { opacity: 1; }
  50% { opacity: 1; }
  51% { opacity: 0; }
  100% { opacity: 0; }
}

//*~ Mouth --open
@keyframes mouthOpen {
  0% { opacity: 0; }
  12% { opacity: 0; }
  13% { opacity: 1; }
  24% { opacity: 1; }
  25% { opacity: 0; }
  100% { opacity: 0;}
}

//*~ Mouth --closed
@keyframes mouthClosed {
  0% { opacity: 1; }
  12% { opacity: 1; }
  13% { opacity: 0; }
  24% { opacity: 0; }
  25% { opacity: 1; }
  100% { opacity: 1;}
}

//*~ Foot
@keyframes leg {
  0% { transform: rotate(-18deg); }
  60% { transform: rotate(-18deg); }
  62% { transform:  rotate(-5deg); }
  64% { transform: rotate(-18deg); }
  66% { transform:  rotate(-5deg); }
  68% { transform: rotate(-18deg); }
  70% { transform:  rotate(-5deg); }
  72% { transform: rotate(-18deg); }
}


//* Webkit

//* Buble
@-webkit-keyframes buble {
  0% { opacity: 1; left: 6rem; top: 20rem; }
  28% { opacity: 0; left: 4rem; top: 16rem; }
}
@-moz-keyframes buble {
  0% { opacity: 1; left: 6rem; top: 20rem; }
  28% { opacity: 0; left: 4rem; top: 16rem; }
}
@-o-keyframes buble {
  0% { opacity: 1; left: 6rem; top: 20rem; }
  28% { opacity: 0; left: 4rem; top: 16rem; }
}

//* Buble2
@-webkit-keyframes buble2 {
  0% { opacity: 1; left: 7rem; top: 20rem; }
  28% { opacity: 0; left: 13rem; top: 17rem; }
}

@-moz-keyframes buble2 {
  0% { opacity: 1; left: 7rem; top: 20rem; }
  28% { opacity: 0; left: 13rem; top: 17rem; }
}

@-o-keyframes buble2 {
  0% { opacity: 1; left: 7rem; top: 20rem; }
  28% { opacity: 0; left: 13rem; top: 17rem; }
}

//* Fire
@-webkit-keyframes fire {
  0% { top: 22rem; }
  20% { top: 22.1rem; }
  30% { top: 21.9rem; }
  50% { top: 22.3rem; }
  100% { top: 22rem; }
}

@-moz-keyframes fire {
  0% { top: 22rem; }
  20% { top: 22.1rem; }
  30% { top: 21.9rem; }
  50% { top: 22.3rem; }
  100% { top: 22rem; }
}

@-o-keyframes fire {
  0% { top: 22rem; }
  20% { top: 22.1rem; }
  30% { top: 21.9rem; }
  50% { top: 22.3rem; }
  100% { top: 22rem; }
}

//* Fire2
@-webkit-keyframes fire2 {
  0% { top: 21.8rem; }
  20% { top: 22rem; }
  30% { top: 21.8rem; }
  50% { top: 22.1rem; }
  100% { top: 21.8rem; }
}

@-moz-keyframes fire2 {
  0% { top: 21.8rem; }
  20% { top: 22rem; }
  30% { top: 21.8rem; }
  50% { top: 22.1rem; }
  100% { top: 21.8rem; }
}

@-o-keyframes fire2 {
  0% { top: 21.8rem; }
  20% { top: 22rem; }
  30% { top: 21.8rem; }
  50% { top: 22.1rem; }
  100% { top: 21.8rem; }
}

//* Pan
@-webkit-keyframes pan {
    0% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  3% {
    transform: rotate(15.5deg);
    left: 5.1rem;
    position: absolute;
    top: -3.1rem;
  }
  10% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  15% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  20% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  25% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  30% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  35% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  40% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  45% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  50% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  55% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  60% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  65% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  70% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  75% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  80% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  85% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  100% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
}

@-moz-keyframes pan {
    0% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  3% {
    transform: rotate(15.5deg);
    left: 5.1rem;
    position: absolute;
    top: -3.1rem;
  }
  10% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  15% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  20% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  25% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  30% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  35% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  40% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  45% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  50% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  55% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  60% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  65% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  70% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  75% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  80% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  85% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  100% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
}

@-o-keyframes pan {
    0% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  3% {
    transform: rotate(15.5deg);
    left: 5.1rem;
    position: absolute;
    top: -3.1rem;
  }
  10% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  15% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  20% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  25% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  30% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  35% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  40% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  45% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  50% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  55% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  60% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  65% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  70% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  75% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  80% {
    transform: rotate(2.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  85% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
  100% {
    transform: rotate(1.3deg);
    left: 0.7rem;
    position: absolute;
    top: -0.1rem;
  }
}

//* Eggs
@-webkit-keyframes eggs {
  0% { transform:  rotateX(62deg); 
      -webkit-transform: rotateX(62deg);
      -moz-transform: rotateX(62deg);
      top: 19.1rem;
  }
  10% { transform: rotate(31deg); top: 11.5rem; }
  20% { transform:  rotateX(62deg); top: 19.1rem;}
  25% { transform:  rotateX(62deg); top: 19.3rem; left: 6.8rem;}
  30% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  35% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  45% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  50% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  55% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  60% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  65% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  70% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  75% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  80% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  100% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
}

@-moz-keyframes eggs {
  0% { transform:  rotateX(62deg); top: 19.1rem;}
  10% { transform: rotate(31deg); top: 11.5rem; }
  20% { transform:  rotateX(62deg); top: 19.1rem;}
  25% { transform:  rotateX(62deg); top: 19.3rem; left: 6.8rem;}
  30% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  35% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  45% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  50% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  55% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  60% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  65% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  70% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  75% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  80% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  100% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
}

@-o-keyframes eggs {
  0% { transform:  rotateX(62deg); top: 19.1rem;}
  10% { transform: rotate(31deg); top: 11.5rem; }
  20% { transform:  rotateX(62deg); top: 19.1rem;}
  25% { transform:  rotateX(62deg); top: 19.3rem; left: 6.8rem;}
  30% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  35% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  45% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  50% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  55% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  60% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  65% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  70% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  75% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
  80% { transform:  rotateX(62deg); top: 19.2rem; left: 5.8rem;}
  100% { transform:  rotateX(62deg); top: 19.1rem; left: 6.2rem;}
}

//* hand
@-webkit-keyframes hand {
  0% {left: 11.5rem; transform: rotate(-17deg); }
  3% {left: 11.5rem; transform: rotate(-1deg); }
  10% {left: 11.5rem; transform: rotate(-17deg); }
  15% {left: 11.7rem; transform: rotate(-17deg); }
  20% {left: 11.5rem; transform: rotate(-17deg); }
  25% {left: 11.7rem; transform: rotate(-17deg); }
  30% {left: 11.5rem; transform: rotate(-17deg); }
  35% {left: 11.7rem; transform: rotate(-17deg); }
  40% {left: 11.5rem; transform: rotate(-17deg); }
  45% {left: 11.7rem; transform: rotate(-17deg); }
  50% {left: 11.5rem; transform: rotate(-17deg); }
  55% {left: 11.7rem; transform: rotate(-17deg); }
  60% {left: 11.5rem; transform: rotate(-17deg); }
  65% {left: 11.7rem; transform: rotate(-17deg); }
  70% {left: 11.5rem; transform: rotate(-17deg); }
  75% {left: 11.7rem; transform: rotate(-17deg); }
  80% {left: 11.5rem; transform: rotate(-17deg); }
  100% {left: 11.5rem; transform: rotate(-17deg); }
}

@-moz-keyframes hand {
  0% {left: 11.5rem; transform: rotate(-17deg); }
  3% {left: 11.5rem; transform: rotate(-1deg); }
  10% {left: 11.5rem; transform: rotate(-17deg); }
  15% {left: 11.7rem; transform: rotate(-17deg); }
  20% {left: 11.5rem; transform: rotate(-17deg); }
  25% {left: 11.7rem; transform: rotate(-17deg); }
  30% {left: 11.5rem; transform: rotate(-17deg); }
  35% {left: 11.7rem; transform: rotate(-17deg); }
  40% {left: 11.5rem; transform: rotate(-17deg); }
  45% {left: 11.7rem; transform: rotate(-17deg); }
  50% {left: 11.5rem; transform: rotate(-17deg); }
  55% {left: 11.7rem; transform: rotate(-17deg); }
  60% {left: 11.5rem; transform: rotate(-17deg); }
  65% {left: 11.7rem; transform: rotate(-17deg); }
  70% {left: 11.5rem; transform: rotate(-17deg); }
  75% {left: 11.7rem; transform: rotate(-17deg); }
  80% {left: 11.5rem; transform: rotate(-17deg); }
  100% {left: 11.5rem; transform: rotate(-17deg); }
}

@-o-keyframes hand {
  0% {left: 11.5rem; transform: rotate(-17deg); }
  3% {left: 11.5rem; transform: rotate(-1deg); }
  10% {left: 11.5rem; transform: rotate(-17deg); }
  15% {left: 11.7rem; transform: rotate(-17deg); }
  20% {left: 11.5rem; transform: rotate(-17deg); }
  25% {left: 11.7rem; transform: rotate(-17deg); }
  30% {left: 11.5rem; transform: rotate(-17deg); }
  35% {left: 11.7rem; transform: rotate(-17deg); }
  40% {left: 11.5rem; transform: rotate(-17deg); }
  45% {left: 11.7rem; transform: rotate(-17deg); }
  50% {left: 11.5rem; transform: rotate(-17deg); }
  55% {left: 11.7rem; transform: rotate(-17deg); }
  60% {left: 11.5rem; transform: rotate(-17deg); }
  65% {left: 11.7rem; transform: rotate(-17deg); }
  70% {left: 11.5rem; transform: rotate(-17deg); }
  75% {left: 11.7rem; transform: rotate(-17deg); }
  80% {left: 11.5rem; transform: rotate(-17deg); }
  100% {left: 11.5rem; transform: rotate(-17deg); }
}

//* hand-right
@-webkit-keyframes hand-right {
  0% {left: 27.5rem; transform: rotate(-112deg); }
  29% {left: 27.5rem; transform: rotate(-112deg); }
  33% {left: 25.5rem; transform: rotate(27deg); }
  37% {left: 25.5rem; transform: rotate(27deg); }
  38% {left: 25.5rem; transform: rotate(-3deg); }
  45% {left: 25.5rem; transform: rotate(-3deg); }
  50% {left: 25.5rem; transform: rotate(27deg); }
  100% {left: 27.5rem; transform: rotate(-112deg); }
}

@-moz-keyframes hand-right {
  0% {left: 27.5rem; transform: rotate(-112deg); }
  29% {left: 27.5rem; transform: rotate(-112deg); }
  33% {left: 25.5rem; transform: rotate(27deg); }
  37% {left: 25.5rem; transform: rotate(27deg); }
  38% {left: 25.5rem; transform: rotate(-3deg); }
  45% {left: 25.5rem; transform: rotate(-3deg); }
  50% {left: 25.5rem; transform: rotate(27deg); }
  100% {left: 27.5rem; transform: rotate(-112deg); }
}

@-o-keyframes hand-right {
  0% {left: 27.5rem; transform: rotate(-112deg); }
  29% {left: 27.5rem; transform: rotate(-112deg); }
  33% {left: 25.5rem; transform: rotate(27deg); }
  37% {left: 25.5rem; transform: rotate(27deg); }
  38% {left: 25.5rem; transform: rotate(-3deg); }
  45% {left: 25.5rem; transform: rotate(-3deg); }
  50% {left: 25.5rem; transform: rotate(27deg); }
  100% {left: 27.5rem; transform: rotate(-112deg); }
}

//* eyesOpen
@-webkit-keyframes eyesOpen {
  0% { opacity: 1; }
  1% { opacity: 0; }
  5% { opacity: 0; }
  7% { opacity: 1; }
  33% { opacity: 1; }
  34% { opacity: 0; }
  50% { opacity: 0; }
  51% { opacity: 1; }
  100% { opacity: 1; }
}

@-moz-keyframes eyesOpen {
  0% { opacity: 1; }
  1% { opacity: 0; }
  5% { opacity: 0; }
  7% { opacity: 1; }
  33% { opacity: 1; }
  34% { opacity: 0; }
  50% { opacity: 0; }
  51% { opacity: 1; }
  100% { opacity: 1; }
}

@-o-keyframes eyesOpen {
  0% { opacity: 1; }
  1% { opacity: 0; }
  5% { opacity: 0; }
  7% { opacity: 1; }
  33% { opacity: 1; }
  34% { opacity: 0; }
  50% { opacity: 0; }
  51% { opacity: 1; }
  100% { opacity: 1; }
}

//* eyesClosed
@-webkit-keyframes eyesClosed {
  0% { opacity: 0; }
  1% { opacity: 1; }
  5% { opacity: 1; }
  7% { opacity: 0; }
  33% { opacity: 0; }
  34% { opacity: 1; }
  50% { opacity: 1; }
  51% { opacity: 0; }
  100% { opacity: 0; }
}

@-moz-keyframes eyesClosed {
  0% { opacity: 0; }
  1% { opacity: 1; }
  5% { opacity: 1; }
  7% { opacity: 0; }
  33% { opacity: 0; }
  34% { opacity: 1; }
  50% { opacity: 1; }
  51% { opacity: 0; }
  100% { opacity: 0; }
}

@-o-keyframes eyesClosed {
  0% { opacity: 0; }
  1% { opacity: 1; }
  5% { opacity: 1; }
  7% { opacity: 0; }
  33% { opacity: 0; }
  34% { opacity: 1; }
  50% { opacity: 1; }
  51% { opacity: 0; }
  100% { opacity: 0; }
}

//* mouthOpen
@-webkit-keyframes mouthOpen {
  0% { opacity: 0; }
  12% { opacity: 0; }
  13% { opacity: 1; }
  24% { opacity: 1; }
  25% { opacity: 0; }
  100% { opacity: 0;}
}

@-moz-keyframes mouthOpen {
  0% { opacity: 0; }
  12% { opacity: 0; }
  13% { opacity: 1; }
  24% { opacity: 1; }
  25% { opacity: 0; }
  100% { opacity: 0;}
}

@-o-keyframes mouthOpen {
  0% { opacity: 0; }
  12% { opacity: 0; }
  13% { opacity: 1; }
  24% { opacity: 1; }
  25% { opacity: 0; }
  100% { opacity: 0;}
}

//* mouthClosed
@-webkit-keyframes mouthClosed {
  0% { opacity: 1; }
  12% { opacity: 1; }
  13% { opacity: 0; }
  24% { opacity: 0; }
  25% { opacity: 1; }
  100% { opacity: 1;}
}

@-moz-keyframes mouthClosed {
  0% { opacity: 1; }
  12% { opacity: 1; }
  13% { opacity: 0; }
  24% { opacity: 0; }
  25% { opacity: 1; }
  100% { opacity: 1;}
}

@-o-keyframes mouthClosed {
  0% { opacity: 1; }
  12% { opacity: 1; }
  13% { opacity: 0; }
  24% { opacity: 0; }
  25% { opacity: 1; }
  100% { opacity: 1;}
}

//* leg
@-webkit-keyframes leg {
  0% { transform: rotate(-18deg); }
  60% { transform: rotate(-18deg); }
  62% { transform:  rotate(-5deg); }
  64% { transform: rotate(-18deg); }
  66% { transform:  rotate(-5deg); }
  68% { transform: rotate(-18deg); }
  70% { transform:  rotate(-5deg); }
  72% { transform: rotate(-18deg); }
}

@-moz-keyframes leg {
  0% { transform: rotate(-18deg); }
  60% { transform: rotate(-18deg); }
  62% { transform:  rotate(-5deg); }
  64% { transform: rotate(-18deg); }
  66% { transform:  rotate(-5deg); }
  68% { transform: rotate(-18deg); }
  70% { transform:  rotate(-5deg); }
  72% { transform: rotate(-18deg); }
}

@-o-keyframes leg {
  0% { transform: rotate(-18deg); }
  60% { transform: rotate(-18deg); }
  62% { transform:  rotate(-5deg); }
  64% { transform: rotate(-18deg); }
  66% { transform:  rotate(-5deg); }
  68% { transform: rotate(-18deg); }
  70% { transform:  rotate(-5deg); }
  72% { transform: rotate(-18deg); }
}
